# Resource locations to be added to the 'bootstrap' path
[Bootstrap]
#Zip=Media/packs/SdkTrays.zip

# Resource locations to be added to the default path
[General]
FileSystem=Media/models
FileSystem=Media/packs

#Zip=Media/packs/cubemap.zip
#Zip=Media/packs/cubemapsJS.zip
#Zip=Media/packs/skybox.zip
Zip=Media/packs/Sinbad.zip

